@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: #e5e5e5;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  border: 1px solid white;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
}

.logo p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1;
  color: #6070ff;
}

.logo a {
  text-decoration: none;
}

.logo span {
  color: rgb(255, 0, 0);
  font-weight: 900;
}

.mobile_menu i {
  font-size: 20px;
  color: #6070ff;
}

.headline {
  height: 600px;
  margin-top: 64px;
  background-image: url(img/header-shapes\ mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 0 0 0 90px;
}

.container {
  margin: 0 25px;
}

.salutation {
  max-width: 327px;
}

.salutation h1 {
  padding-top: 100px;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.description {
  height: 146px;
  max-width: 327px;
}

.description p {
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  font-size: 16px;
  color: #344563;
}

.description h3 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.social-media {
  margin: 10px 0;
}

.social-media ul {
  display: flex;
  margin-left: -45px;
}

.social-media li {
  list-style-type: none;
}

.social-media i {
  color: #505f79;
  font-size: 25px;
  margin: 5px;
}

/* ------------WORK SECTION----------- */

.work_section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 25px;
  gap: 12px;
  height: 552px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details h3 {
  width: 290px;
  height: 80px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

.w-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w-description h4 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #344563;
}

.w-description ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -35px;
}

.w-description li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-left: 25px;
}

.read-more p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.tech-used {
  margin-top: -20px;
}

.tech-used ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  margin-left: -18px;
}

.tech-used li {
  list-style-type: none;
  height: 24px;
  border-radius: 8px;
  background-color: #ebebff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 12px 1px 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-left: 5px;
  text-align: center;
}

.button button {
  color: #396df2;
  border: 1px solid #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #fff;
}

button:hover {
  box-shadow: 0 8px 16px 0 #4053fc3d;
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
  box-shadow: none;
}

/*******  ABOUT SECTION  *******/

.about-me {
  margin-top: 64px;
  background-color: #fff;
  border-radius: 0 90px 0 0;
}

.aboutme-title {
  width: 200px;
  height: 101px;
  padding-top: 114px;
  padding-bottom: 30px;
}

.aboutme-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.aboutme-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.aboutme-description h3 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.ul-1 {
  list-style-type: none;
  margin-left: -15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.li-1_title {
  list-style-type: none;
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-1 h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.ul-2 li {
  list-style-type: none;
  margin-bottom: 15px;
  width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-left: -25px;
}

.ul-2 li img {
  padding-left: 15px;
}

.not-open {
  border-bottom: 1px solid #dfe1e6;
  width: 327px;
}

/* --Contact me section-- */

#contact-section {
  background: #6070ff;
  width: 100%;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 75px;
  border-top-right-radius: 115px;
}

#contact-form {
  text-align: center;
  padding-bottom: 2rem;
}

#contact-section h1 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  
  line-height: 52px;
  color: #fff;
}

#contact-section h3 {
  font-style: normal;
  font-size: 20px;
  text-transform: none;
  text-align: center;
  color: white;
  padding: 0 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 2em;
}

#contact-section button {
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  cursor: pointer;
  margin: 18px 0;
}

.contact::before {
  content: "";
  position: absolute;
  background-color: #6070ff;
  background-image: url("./logos/contactformbackground\ shapes@2x.png");
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-top-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact {
  position: relative;
  padding: 6.4375rem 1.5rem 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  color: #fff;
  text-align: center;
}

.contact__dsc {
  color: #ebebff;
  text-align: center;
  margin: 0.8rem 0 2.8rem;
}

.contact__container form li input {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0 1rem;
}

.contact__container form li textarea {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 1rem;
  resize: none;
}

.contact__container form li .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  cursor: pointer;
  margin: 18px 0;
}
.contact::before {
  background-image: url("./img/contactformbackground\ shapes@2x\ \(1\).png");
  padding: 1rem;
  border-top-left-radius: 8rem;
}

.contact {
  padding: 6rem 8.875rem;
  background: #fff;
}

.contact__dsc {
  max-width: 570px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1em 0;
  padding: 1rem;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.contact__container form li input,
.contact__container form li textarea {
  max-width: 447px;
}

.contact__container form li:last-child {
  text-align: center;
}
.contact::before {
  padding: 3.5rem;
}

.contact {
  padding: 8.875rem;
  padding-bottom: 7.9rem;
}