@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: #e5e5e5;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  border: 1px solid white;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
}

.logo p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1;
  color: #6070ff;
}

.logo a {
  text-decoration: none;
}

.logo span {
  color: rgb(255, 0, 0);
  font-weight: 900;
}

.mobile_menu i {
  font-size: 20px;
  color: #6070ff;
}

.headline {
  height: 600px;
  margin-top: 64px;
  background-image: url(img/header-shapes\ mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 0 0 0 90px;
}

.container {
  margin: 0 25px;
}

.salutation {
  max-width: 327px;
}

.salutation h1 {
  padding-top: 100px;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.description {
  height: 146px;
  max-width: 327px;
}

.description p {
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  font-size: 16px;
  color: #344563;
}

.description span {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.social-media {
  margin: 10px 0;
}

.social-media ul {
  display: flex;
  margin-left: -45px;
}

.social-media li {
  list-style-type: none;
}

.social-media i {
  color: #505f79;
  font-size: 25px;
  margin: 5px;
}

/* ------------WORK SECTION----------- */

.work_section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 25px;
  gap: 12px;
  height: 552px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details h3 {
  width: 290px;
  height: 80px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

.w-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w-description h4 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #344563;
}

.w-description ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -35px;
}

.w-description li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-left: 25px;
}

.read-more p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

.tech-used {
  margin-top: -20px;
}

.tech-used ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  margin-left: -18px;
}

.tech-used li {
  list-style-type: none;
  height: 24px;
  border-radius: 8px;
  background-color: #ebebff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 12px 1px 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-left: 5px;
  text-align: center;
}

.button button {
  color: #396df2;
  border: 1px solid #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #fff;
}

button:hover {
  box-shadow: 0 8px 16px 0 #4053fc3d;
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
  box-shadow: none;
}

/*******  ABOUT SECTION  *******/

.about-me {
  margin-top: 64px;
  background-color: #fff;
  border-radius: 0 90px 0 0;
}

.aboutme-title {
  width: 200px;
  height: 101px;
  padding-top: 114px;
  padding-bottom: 30px;
}

.aboutme-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.aboutme-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.aboutme-description span {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.skills {
  padding-bottom: 50px;
}

.skills-title {
  margin-top: 30px;
  width: 300px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-open {
  border-bottom: 1px solid #dfe1e6;
}

.skills-title h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.skills-items li {
  list-style-type: none;
  margin-bottom: 15px;
  width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.skills-items img {
  margin-right: 15px;
}

.skills-title i {
  right: 0;
}
